{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block pagetitle %}Notes{% endblock %}
{% block importscript %}<script src="{% static 'js/htmx.js' %}"></script>{% endblock %}

{% block body %}
<form>{% csrf_token %}
    <div class="form-group3">
        <div class="card">
            <div class="card-body">
                <div>
                    <label>{{ form.title.label_tag }}</label>
                    {{ form.title.errors }}
                    {% render_field form.title class='form-control'%}
                </div>
                <div>
                    <label>{{ form.body.label_tag }}</label>
                    {{ form.body.errors }}
                    {% render_field form.body class='form-control' rows='3'%}
                </div>
            </div>
            <button style="width: 5rem;" class="btn btn-primary float-md-end"
                    type="submit"
                    hx-post="{% url 'create-note' %}"
                    hx-target="#notes-list">Create</button>
            <div id="form-errors"></div>
        </div>
    </div>
</form>


<br><br>

<div id="notes-list">
    {% include 'notes/notes_list.html' %}
</div>


{% endblock %}