{% extends 'base.html' %}
{% load widget_tweaks %}

{% block pagetitle %}Register{% endblock %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    
    <!--{% render_field form.username placeholder=form.username.label %}
    {% render_field form.email placeholder=form.email.label %}
    {% render_field form.password1 placeholder=form.password1.label %}
    {% render_field form.password2 placeholder=form.password2.label %}-->

    <input type="submit" class="btn btn-secondary" name="Submit">
</form>
{% endblock %}

